        div {
            width: 100%;
        }
        
        div h2 {
            font-family: 'Roboto', sans-serif;
        }
        
        div div {
            width: 395px;
            background-color: rgb(228, 164, 164);
            font-family: 'Roboto', sans-serif;
            border-radius: 15px;
        }
        
        div button {
            width: 220px;
            padding: 15px;
            margin-bottom: 20px;
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
            background-color: rgb(120, 130, 214);
            color: white;
            border: none;
            cursor: pointer;
            transition: 0.25s;
        }
        
        div button:hover {
            background: black;
        }
        
        div p {
            font-size: 22px;
            font-weight: bold;
            color: rgb(92, 91, 91);
        }