body {
    margin: 0;
    padding: ;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.box {
    width: 300px;
    padding: 40px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    border: 1px solid blue;
    border-radius: 22px;
}

.box h1 {
    color: blue;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.box input[type="text"],
.box input[type="passwor"] {
    border: 0;
    width: 240px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 10px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.box input [type="text"]:focus,
.box input [type="password"]:focus {
    width: 280px;
    border-color: blue;
}

.box input[type="submit"] {
    border: 0;
    width: 240px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid blue;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.box input[type="submit"]:hover {
    background: blue;
    color: white;
}